/* Specification */

body {
	font-family: 'Roboto Slab', serif;
	font-family: 'Montserrat', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Header */

.header {
	background: url(background.png) no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	text-align: center;
	padding-top: 40px;
}

.header .logo {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

.header li {
	margin-right: 30px;
}

.header a {
	font-size: 14px;
	color: #fff;
}

.header h1 {
	margin-top: 260px;
	margin-bottom: 22px;
	font-size: 48px;
	color: #fff;
	font-weight: 400;
}

.header p {
	font-size: 20px;
	color: #fff;
	margin-bottom: 55px;
}

.header button {
	background-color: transparent;
	border: 1.5px solid #fff;
	border-radius: 2px;
	margin-bottom: 215px;
}

.header button a {
	display: inline-block;
	padding: 14px 44px;
	text-transform: uppercase;
}

/* Services */

.services {
	padding-top: 100px;
	text-align: center;
	margin-bottom: 100px;
}

.title {
	margin-bottom: 30px;
	font-size: 20px;
	color: #555555;
	text-transform: uppercase;
}

.text {
	font-size: 16px;
	color: #555555;
	margin-bottom: 70px;
}

.hr {
	width: 50px;
	background-color: #000;
	border: 1px solid #000;
	margin:0 auto 30px;
}

.service i {
	color: #c0301c;
	border: 1px solid #dddddd;
	border-radius: 50%;
	padding: 15px;
	font-size: 46px;
	transition: all 0.5s ease;
	margin-bottom: 26px;
}

.service i:hover {
	color: #fff;
	background-color: #c0301c;
	border: 1px solid #dddddd;
	border-radius: 50%;
	padding: 15px;
	font-size: 46px;
	cursor: pointer;
}

.service h5 {
	margin-bottom: 22px;
	font-size: 14px;
	text-transform: uppercase;
}

.service p {
	font-size: 14px;
}

/* About Us */

.about {
	text-align: center;
	background-color: #f8f8f8;
}

.mt100 {
	margin-top: 100px;
}

.mb70 {
	margin-bottom: 70px;
}

.pb100 {
	padding-bottom: 100px;
}

.about__text {
	font-size: 14px;
}

.face {
	margin-left: 15px;
}

.face__block h5 {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 22px;
	margin-bottom: 15px;
}

.face__block p {
	font-size: 13px;
}

/* Works */

.works {
	text-align: center;
}

.toggles button {
	border: none;
	background: transparent;
	margin-right: 20px;
	
}

.post {
	margin: 10px 10px;
}

.posts {
	margin-bottom: 100px;
}

.toggles button:hover{
	background: #40404058;
}

/* .toggles button:after{
	content: ' / ';
}

.toggles button:last-child:after{
	content: '';
} */

/* Touch */

.project {
	background: url(touch_bg.png) no-repeat;
	text-align: center;
}

.project h3 {
	font-size: 30px;
	color: #fff;
	margin-top: 100px;
	margin-bottom: 45px;
}

.project button {
	background-color: transparent;
	border: 1.5px solid #fff;
	border-radius: 2px;
	margin-bottom: 95px;
}

.project button a {
	color: #fff;
	display: inline-block;
	padding: 14px 44px;
	text-transform: uppercase;
}

/* Blog */

.blog {
	text-align: center;
}

.blog img {
  object-fit: cover;
  width: 460px;
  height: 320px;

}

.blog__title {
	font-weight: 400;
	margin-bottom: 20px;
	font-size: 16px;
}

.blog__author {
	font-style: italic;
	margin-bottom: 40px;
	font-size: 13px;
}

.blog__text {
	font-size: 14px;
}

.blog .col-lg-7 {
	text-align: left;
	color: #555555;
}

.blog__btn {
	text-transform: uppercase;
	background: transparent;
	border: 0;
}

.blog__btn a {
	text-decoration: none;
	font-size: 13px;
	color: #000;
}

.blog__btn a:hover {
	text-decoration: none;
	font-size: 13px;
	color: #c0301c;
	font-weight: 700;
}

.blog__post {
	margin-bottom: 75px;
}

/* Brands */

.brands {
	background: #f8f8f8;
	text-align: center;
}

.brand__slider {
	padding-top: 100px;
	margin-bottom: 75px;
}

.brand {
	margin-right: 50px;
}

.brands__text {
	font-size: 18px;
	color: #898989;
	font-style: italic;
	line-height: 190%;
	margin-bottom: 36px;
}

.brands__author {
	color: #898989;
	font-size: 20px;
	padding-bottom: 100px;
}

/* Footer */

.footer {
	background: #c0301c;
	text-align: center;
} 

.social__btn {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 40px;
}

.social__btn a {
	text-decoration: none;
}

.social__btn i {
	color: #fff;
	font-size: 24px;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 50%;
	margin-right: 7px;
	margin-left: 7px;
	transition: all 0.5s ease;
}

.social__btn i:hover {
	color: #fff;
	font-size: 24px;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 50%;
	margin-right: 7px;
	margin-left: 7px;
	background-color: #000;
}

.footer hr {
	border: 1px solid #fff;
	background-color: #fff;
}

.footer p {
	color: #fff;
	font-size: 12px;
	padding-bottom: 50px;
}


/* Media Queries */

@media screen and (max-width: 576px) {

	.header li {
		margin-right: 0;
	}

	.header p {
		margin-bottom: 0;
	}

	.header h1 {
		font-size: 36px;
		margin-top: 70px;
	}

	.header button {
		margin-bottom: 30px;
		margin-top: 30px;
	}

    .menu ul {
		margin-top: 30px;
		flex-direction: column;
		align-items: center;
    }

    .menu .menu__item {
		text-align: center;
	}

	.blog .text {
		margin-bottom: 30px;
	}
	
	.blog h4 {
		margin-top: 0;
	}

	.blog__title {
		margin-top: 30px;
	}

	.blog .col-lg-7 {
		text-align: center;
	}

}

